docker {
  enabled = true
  runOptions = '-v /var/run/docker.sock:/var/run/docker.sock'
}

manifest {
  name = 'Sage-Bionetworks-Challenges/nf-model2data'
  author = 'Thomas Yu'
  homePage = 'https://github.com/Sage-Bionetworks-Challenges/nf-model2data'
  description = 'Nextflow model to data workflow'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.04.0'
  version = '0.0.1'
  defaultBranch = 'main'
}

profiles {
	tower {
    process {
      withName: RUN_DOCKER {
        memory = 32.GB
        cpus = 8
      }
    }
  }
  local {
    process {
      withName: RUN_DOCKER {
        memory = 16.GB
        cpus = 4
      }
    }
  }
}

aws.batch.volumes = [ '/var/run/docker.sock:/var/run/docker.sock', '/tmp:/tmp' ]
